<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"><a href="https://richcheng.com">Rich Cheng</a></div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://github.com/richcheng/covid19-angular"
            ><span class="text-blue"><i class="fab fa-osi"></i></span>Github
            Source Code</a
          >
          <a href="https://richcheng.com/~richchen/contact-us/"
            ><span class="text-success"
              ><i class="fa fa-phone-square"></i
            ></span>
            Contact Me</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
